body {
    background-image: url(../images/worldmap.png);
    background-color: black;
}

#ciaimg {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 39%;
    left: 44%;
}

#torimg {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 12%;
    left: 1%;
    cursor: pointer;
}

#torname {
    position: absolute;
    top: 18.3%;
    left: 2.2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#ircimg {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 1.2%;
    left: 6%;
    cursor: pointer;
}

#ircname {
    position: absolute;
    top: 7%;
    left: 6.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#folderimg1 {
    position: absolute;
    top: 1%;
    left: 1%;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#foldername1 {
    position: absolute;
    top: 7%;
    left: .6%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.box {
    width: 1px;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: black;
    border-radius: 24px;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}

.box [id="progressBar"] {
   position: absolute; 
   width: 0%;
   height: 100px;
   height:24px;
   background: black;
   border-radius: 24px;
   border-color: red;
}
