body {
    background-image: url(../images/worldmap.png);
    background-color: black;
}

#ciaimg {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 39%;
    left: 44%;
}

#Tor {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 12%;
    left: 1%;
    cursor: pointer;
}

#torname {
    position: absolute;
    top: 18.3%;
    left: 2.2%;
    font-family: Arial;
    color: white;
}

#irc\.exe {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 1.2%;
    left: 6%;
    cursor: pointer;
}

#ircname {
    position: absolute;
    top: 7%;
    left: 6.5%;
    font-family: Arial;
    color: white;
}

#Thunderbird {
    position: absolute;
    top: 1%;
    left: 1%;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#foldername1 {
    position: absolute;
    top: 7%;
    left: .6%;
    font-family: Arial;
    color: white;
}

.box {
    display: none;
    width: 600px;
    height: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: black;
    border-radius: 24px;
    border: 2px solid red;
    font-family: Arial;
    font-size: 40px;
    color: white;
    opacity: 0.9;
}

.box div[id="progressbaroutline"] {
    position: absolute; 
    margin: 120px auto;
    width: 50px;
    height: 50px;
    background: gray;
    border-radius: 24px;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    opacity: 0.2;
}

.box div[id="progressbar"] {
    position: absolute; 
    margin: 120px auto;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 24px;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
 }

.box div[id="loadingmessage"] {
   position: absolute; 
   width: 570px;
   height: 200px;
   color: red;
   border-radius: 24px;
   font-family: Arial;
   font-size: 60px;
   text-align: center;
}